  // .example-card {  
  //     max-width: 300px;
  //   }
  
  // .example-header-image {
  //   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //   background-size: cover;
  // }

  .lift-container {
      position: relative;
      float: left;
      margin-left: 30px;
      margin-top: 120px;
  }

  .search-box {
    height: 100%;
    float: left;
    margin-left: 10px;
  }
  
  // .example-form-field {
  //   width: 200px;
  // }
