<mat-toolbar><a href="/home" title="refresh the site" style="color: white; text-decoration: none;">ShutGun</a> 
                <!-- <button mat-button routerLink="">ShutGun</button> -->
                <!-- <button mat-raised-button color="accent" routerLink= "register">Register</button>
                <button mat-raised-button color="accent" routerLink="login">Login</button>               
                <button mat-raised-button color="accent" routerLink= "index">Index</button>
                <button mat-raised-button color="accent" routerLink= "contact">Contact</button> -->
                <button mat-raised-button color="accent" routerLink= "home" id="home">Home</button>
                <button mat-raised-button color="accent" routerLink= "contact" id="contact">Contact</button>
                <!-- <button mat-raised-button color="accent" routerLink= "portal">Portal</button> -->

</mat-toolbar>

<router-outlet></router-outlet>

<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->