<h1>Register</h1>

<form [formGroup]="registerForm" class="example-form" (ngSubmit) = "onRegisterClick()">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Firstname" formControlName="firstname" required>

        <mat-error *ngIf="registerForm.controls.firstname.hasError('required')">
            Please enter a valid username
        </mat-error>
        
        <mat-error *ngIf="registerForm.controls.firstname.hasError('minlength')">
            Username must be at least 3 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Lastname" formControlName="lastname" required> 

        <mat-error *ngIf="registerForm.controls.lastname.hasError('required')">
            Please enter a valid lastname
        </mat-error>       
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" ngModel email="true" required> 
    
        <mat-error *ngIf="registerForm.controls.email.hasError('required')">
            Please enter a valid email
        </mat-error>

        <mat-error *ngIf="registerForm.controls.email.hasError('email')">
            Please enter a email in correct form
        </mat-error>
    </mat-form-field> 

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password" required>

        <mat-error *ngIf="registerForm.controls.password.hasError('required')">
            Please enter a valid password
        </mat-error>
    </mat-form-field> 

    <mat-form-field class="example-full-width">
        <input matInput placeholder="City" formControlName="city" required> 

        <mat-error *ngIf="registerForm.controls.city.hasError('required')">
            Please enter a valid city
        </mat-error>
    </mat-form-field> 

    <mat-form-field class="example-full-width">
        <input matInput placeholder="PhoneNumber (Ex: +905392675375)" type="tel" pattern="\+[0-9]{2}[0-9]{10}" formControlName="phoneNumber" required> 

        <mat-error *ngIf="registerForm.controls.phoneNumber.hasError('required')">
            Please enter a valid phone number
        </mat-error>
    </mat-form-field> 

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Birth Date" formControlName="birthDate" [matDatepicker]="picker" [min]="minDate" [max]="maxDate" required> 
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="registerForm.controls.birthDate.hasError('required')">
            Please enter a valid birth date
        </mat-error>
    </mat-form-field>   

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Driver's License" formControlName="driversLicense"> 
    </mat-form-field>   

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Location of Education" formControlName="locationOfEducation" required> 

        <mat-error *ngIf="registerForm.controls.firstname.hasError('required')">
            Please enter a valid location
        </mat-error>
    </mat-form-field> 

    <button mat-raised-button color="primary">Register</button>
    <button mat-raised-button color="primary" type="reset">Reset</button>

</form>

<router-outlet></router-outlet>